/* Example of using just elements for CSS */
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:powderblue;
}

h1{
    text-align:center;
}

h2{
    text-align:center;
}

h3{
    font-weight: 900;
}

p{
    text-align: center;
}

/* Example of using an ID for CSS */
#navbar{
    background-color:honeydew;
    overflow:auto;
}

#navbar ul{
    padding:0;
    list-style:none;
    margin-top:0;
    margin-left:0;
    margin-right:0;
}

#navbar li{
    display:inline;
    font-weight:700;
    font-size:2em;
    color:lightslategray;
}

#navbar a{
    float:left;
    text-decoration:none;
    width:33.33%;
    text-align:center;
    padding-bottom:10px;
}

#navbar a:visited{
    color:inherit;
}

#navbar a:hover{
    color:black;
}

#machines ul{
    list-style:none;
    line-height:100px;
    background-color: white;
}

#machines li{
    font-size: x-large;
}

.bullet {
    border-style:dotted;
    border-width: 5px;
    margin-bottom: 20px;
}

/* Example using a class in CSS */
.table-title{
    margin-top:50px;
    text-align: center;
}

table, th, tr, td{
    border:2px solid black;
}

th{
    background-color:whitesmoke;
    font-size:larger;
}

.name{
    background-color:thistle;
}

.pros{
    background-color:darkseagreen;
}

.cons{
    background-color:indianred;
}

.bottom-line{
    background-color:lightgoldenrodyellow;
}

form input{
    margin-left:10px;
}

form input[type="text"]:hover{
    background-color:steelblue;
    color:black;
}

.contact {
    margin-left:60px;
}

.button {
    margin-top:20px;
    margin-left:60px;
}

.button input[type="submit"]:hover{
    background-color:steelblue;
}

